<% if(flash.sucesso && flash.sucesso.length > 0) { %>
    <div class="alert alert-sucesso">
        <% flash.sucesso.forEach(mensagem => { %>
            <p><%=mensagem %> </p>
        <% }) %> 
    </div>
<%}%> 

<% if(flash.erro && flash.erro.length > 0) { %>
    <div class="alert alert-erro">
        <% flash.erro.forEach(mensagem => { %>
            <p><%=mensagem %></p>
    <% }) %> 
    </div>
<%}%> 