<nav class="navbar">
  <a href="/painel/entregas" class="navbar-brand">Delivery Tracker</a>
  <ul class="navbar-links">
    <li><a href="/painel/entregas">Entregas</a></li></br>
    <li><a href="/painel/motoristas">Motoristas</a></li>
  </ul>
</nav>